<html>
<head>
    <title>Cadastro de Médico</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="menu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>
<body>
    
    <div class="body_div">
    <div class="navbar">
        <div class="menu">
            <a href="visualizar_consultas.html">Inicio</a>
            <a href="cadastro_paciente.html">Clientes</a>
            <a href="cadastro_medico.html">Médicos</a>
            <a href="cadastro_especialidade.html">Especialidades</a>
            <a href="cadastro_material.html">Materiais</a>
        </div>
        <div>
            <a href="home.html">Sair</a>
        </div>
    </div>
    <form>
        <h2>Cadastrar Médico</h2>
        <label>RG:</label> <input type="text" name="rg"><br>
        <label>Nome:</label> <input type="text" name="nome"><br>
        <label>Telefone:</label> <input type="text" name="telefone"><br>
        <label>Periodo</label>
        <select class="especialidade_options" name="periodo" >
            <option value="manhã">Manhã</option>
            <option value="tarde">Tarde</option>
        </select><br>
        <label>Valor Fixo</label>
        <input type="number" name="preco_medico" step="0.01" min="0" placeholder="0.00"><br>
        <button type="submit">Salvar</button>
    </form>
    <form>
        <table border="1">
            <h2>Pacientes Cadastrados</h2>
            <tr><th>Rg</th><th>Nome</th><th>Editar</th><th>Excluir</th></tr>
            <tr><td>123456789</td><td>Teste</td><td><a href="/" style="color: inherit; text-decoration: none;"><i class="fa-solid fa-pencil"></i></a></td><td><a href="/" style="color: inherit; text-decoration: none;"><i class="fa-solid fa-trash"></i></a></td></tr>
        </table>
    </form>
    </div>
</body>
</html>